@using Microsoft.AspNetCore.Identity
@inject SignInManager<StoreUser> SignInManager/* here changed from <identityRole> --> <StoreUser> -> which i created*/
@inject UserManager<StoreUser> UserManager /* here changed from <identityRole> --> <StoreUser>-> which i created*/

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-light"  > Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
